
<h2>Level :{{level}}</h2>
<h3>Target Number:{{sum}}</h3>
<div class="col-sm-12">
  <div class="row">
  <div *ngFor="let in of counter(6) ;let i = index" style="width:15%;padding-left:15px">
    <div *ngFor="let in of arr ;let j = index">
<div *ngIf="i==0" style="width:40px;height:40px" class="btn btn-secondary m-1" data-toggle="tooltip" data-placement="top"><p>{{in}}</p></div>

<div *ngIf="i>0 && i<5">
  <div *ngIf="xaxis!=i || yaxis!=j" style="width:40px;height:40px;color:white" class="btn  m-1" data-toggle="tooltip" data-placement="top"><p>{{movingnumber}}</p></div>
  <div *ngIf="xaxis==i && yaxis==j" style="width:40px;height:40px;" class="btn btn-primary m-1" data-toggle="tooltip" data-placement="top"><p>{{movingnumber}}</p></div>
</div>

<div *ngIf="i==5" style="width:40px;height:40px" class="btn btn-secondary m-1" data-toggle="tooltip" data-placement="top"><p>{{arr2[j]}}</p></div>

</div>
  </div>
  </div>
</div>

<div class="col-sm-12">
 
       <div class="row">
          <div style="width:15%;padding-left:20px">
            <h1 hidden>A</h1>
          </div>
       <div style="width:15%;padding-left:20px">
        <!-- <h1 >A</h1> -->
        <i  *ngIf="pointer==1"class="fa fa-hand-o-up fa-3x"></i> 
       </div> 
       <div style="width:15%;padding-left:20px">
        <!-- <h1 *ngIf="pointer==2">A</h1> -->
         <i  *ngIf="pointer==2"class="fa fa-hand-o-up fa-3x"></i> 
       </div> 
       <div style="width:15%;padding-left:20px">
        <!-- <h1 *ngIf="pointer==3">A</h1> -->
         <i  *ngIf="pointer==3"class="fa fa-hand-o-up fa-3x"></i> 
       </div> 
       <div style="width:15%;padding-left:20px">
        <!-- <h1 *ngIf="pointer==4">A</h1> -->
         <i  *ngIf="pointer==4"class="fa fa-hand-o-up fa-3x"></i> 
       </div> 
       <div style="width:15%;padding-left:20px">
            <!-- <h1 hidden>A</h1> -->
          </div>
       </div>
       </div>  

      <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="row">
         <div style="width:50%"  (click)="onClick('left')">
           <i  class="fa fa-arrow-circle-left fa-3x"></i> 
         </div>
         <div style="width:50%"  (click)="onClick('right')">
           <i  class="fa fa-arrow-circle-right fa-3x"></i> 
         </div>
         </div>
       </div> 